.landing-page-container {
    margin: 0;
    background-color: rgba(18, 20, 28, 0.5)
}

/* .landing-page-container::after {
    content: "";
    background-image: url(../../../assets/d5eaa24d8b1f0c1dc4b07f989c491a87fb92e78a.png);
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
    background-attachment: fixed;
  } */

.discord-logo {
    height: 2rem;

}

.background-img {
    position: fixed;
    z-index: -1;
    /* object-fit: cover; */
    width: 110%;
}

.landing-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 15% 10% 4% 10%;
    /* background-color: rgba(255, 255, 255, 0.3) */
}

.landing-body h3 {
    text-align: center;
    color: #fff;
    font-family: 'openSenLight';
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 5rem;
}

.landing-page-container h1 {
    text-align: center;
    color: #fff;
    font-family: 'openSenBold';
    font-size: 3rem;
}

.google-play-logo {
    width: 13rem;
    box-shadow: 0px 0px 12px 1px #535353;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: 0.2s;
    /* Safari prior 6.1 */
    transition: 0.2s;
    /* display: none; */
}

.google-play-logo:hover {
    box-shadow: 0px 0px 15px 3px #535353;
}

/* .portal-button {
    color: #fff;
    border: none;
    border-radius: 30px;
    height: 3rem;
    width: 15rem;
    background: #2196F3;
    transition: 0.2s;
    font-size: 1.2rem;
    outline: none;
    font-family: 'openSenBold'
}

.portal-button:hover {
    box-shadow: 0px 0px 20px 2px #535353;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border: 5px solid rgb(106, 183, 255);
} */

.invisible-button {
    display: none;
}

.portal-button {
    position: relative;
    background: none;
    color: aqua;
    text-transform: uppercase;
    text-decoration: none;
    border: 0.2em solid aqua;
    padding: 0.5em 1em;
    outline: none;
    font-family: 'openSenBold';
    font-size: 100%;
    margin-bottom: 5rem;
}

.portal-button::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}

.portal-button::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}

.portal-button:hover::before {
    right: 80%;
}

.portal-button:hover::after {
    left: 80%;
}

.google-play-logo:active {
    box-shadow: 0px 0px 12px 1px #535353;
}

.header1 {
    position: fixed;
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.3);
    width: 95%;
    transition: 0.5s;
}

.solid-header {
    position: fixed;
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 1);
    width: 95%;
    transition: 0.5s;
    box-shadow: 0px 0px 15px 2px #222;
    z-index: 1
}

.tryhard-logo {
    width: 5rem;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container p {
    /* font-family: 'openSenBold'; */
    color: #fff;
    font-size: 1.3rem;
    margin: 0;
    padding-left: 0.5rem;
    font-family: 'Fugaz One', cursive;
}

.nav-container {
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;

}

.nav-container .discord-block {
    display: flex;
    align-items: center;
    width: 7em;
    justify-content: space-between;
    cursor: pointer;
}

.nav-container p {
    transition: ease-in 0.2s;
    /* border-bottom: 3px solid transparent; */
    transition: 0.2s;
}

.nav-container a {
    transition: ease-in 0.2s;
    /* border-bottom: 3px solid transparent; */
    transition: 0.2s;
    color: #fff;
    text-decoration: none;
}

.nav-container .nav-option:hover {
    /* border-bottom: 3px solid green; */
    transition: ease-in 0.2s;
    transition: 0.2s;
    text-shadow: 0px 0px 7px #fff;
    cursor: pointer;
}

.nav-container img:hover {
    box-shadow: 0px 0px 15px 1px #535353;
    border-radius: 3px;
}

.login-button {
    background: #fff;
    border: none;
    width: 7rem;
    height: 2rem;
    border-radius: 14px;
    font-weight: bold;
    transition: 0.2s;
    outline: none;
}

.login-button:hover {
    box-shadow: 0px 0px 15px 1px #535353;
    transition: 0.2s;
}

.side-nav {
    display: none;
}

.invisible {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav {
    height: 100%;
    width: 70%;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 60px; */
}


.sidenav a {
    padding: 20px 8px 20px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    animation: transitionIn 2.5s;
}

.invisible a {
    display: none
}

.sidenav a:hover {
    color: #f1f1f1;
}

.invisible .closebtn,
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 5rem;
    margin-left: 50px;
}


@media screen and (max-width: 1024px) {

    .background-img {
        display: none;
    }

    .landing-page-container {
        background: #141313;
        height: 100%;
    }

    .logo-container p {
        /* font-family: 'openSenBold'; */
        color: #fff;
        font-size: 2rem;
        margin: 0;
        padding-left: 0.5rem;
        font-family: 'Fugaz One', cursive;
    }



    .header1 {
        padding: 3rem;
        width: 90%;
    }

    .tryhard-logo {
        width: 5rem;
        display: flex;
        align-items: center;
    }

    .nav-container {
        display: none;
    }

    .side-nav {
        display: block;
        width: 5%;
        height: 5%;
    }

    .google-play-logo {
        display: block;
        /* width: 20%; */
        width: 13rem;
        box-shadow: 0px 0px 12px 1px #535353;
        border-radius: 5px;
        cursor: pointer;
        -webkit-transition: 0.2s;
        /* Safari prior 6.1 */
        transition: 0.2s;
        /* margin-bottom: 4rem; */
    }

}

@media screen and (max-width: 500px) {
    .background-img {
        display: none;
    }

    .landing-page-container {
        background: #141313;
        height: 100%;
    }

    .logo-container p {
        /* font-family: 'openSenBold'; */
        color: #fff;
        font-size: 1.1rem;
        margin: 0;
        padding-left: 0.5rem;
        font-family: 'Fugaz One', cursive;
    }

    .header1 {
        padding: 1.3rem;
        display: flex;
        align-items: center;
    }

    .solid-header {
        padding: 1.3rem;
        display: flex;
        align-items: center;
        width: 90%;
    }

    .tryhard-logo {
        width: 3rem;
    }

    .nav-container {
        display: none;
    }

    .side-nav {
        display: block;
        width: 8%;
        height: 8%;
    }

    .landing-page-container h1 {
        font-size: 2rem;
        margin: 5rem 0;
    }

    .google-play-logo {
        /* width: 20%; */
        margin-bottom: 4rem;
    }

    .landing-body h3 {
        text-align: center;
        color: #fff;
        /* font-family: 'openSenBold'; */
        font-size: 1rem;
        margin: 0;
        margin-bottom: 5rem;
    }

    .invisible .closebtn,
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 3rem;
        margin-left: 50px;
    }
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}