.landing-page-container {
    margin: 0;
    background-color: rgba(18, 20, 28, 0.5)
}

/* .landing-page-container::after {
    content: "";
    background-image: url(../../../assets/d5eaa24d8b1f0c1dc4b07f989c491a87fb92e78a.png);
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
    background-attachment: fixed;
  } */

  .background-img {
      position: fixed;
      z-index: -1;
      /* object-fit: cover; */
      width: 110%;
  }

.landing-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20% 20% 4% 20% ;
    /* background-color: rgba(255, 255, 255, 0.3) */
}

.landing-page-container h1 {
    text-align: center;
    color: #fff;
    font-family: 'openSenBold';
    font-size: 3rem;
}

.google-play-logo {
    width: 13rem;
    box-shadow: 0px 0px 12px 1px #535353;
    border-radius: 5px;
}

header {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.3)
}

.tryhard-logo {
    width: 5rem;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container p {
    font-family: 'openSenBold';
    color: #fff;
    font-size: 1.3rem;
    margin: 0;
    padding-left: 0.5rem;
}

.nav-container {
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;

}

.login-button {
    background: #fff;
    border: none;
    width: 7rem;
    height: 2rem;
    border-radius: 14px;
    font-weight: bold;
}