.features-container {
    font-family: 'openSenRegular';
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #141313;
    color: #fff;
    /* height: 100vh; */
    padding: 5rem 2rem;
}

.features-container h1 {
    font-size: 3rem;
    margin-bottom: 4rem;
}

.image-feature-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-around;
}

.feature-block {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
}

.feature-block p {
    font-size: 0.9rem;
    text-align: center;
}

.learn-more {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    justify-content: space-between;
    width: 10rem;
    cursor: pointer;
    transition: 0.2s;
}

.learn-more:hover {
    text-shadow: 0 0 3px #fff;
    transition: 0.2s;
}