.winning-container {
    background: #141313;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wining-text-container {
    text-align: center;
    width: 55%;
    padding-bottom: 4rem; 
}

.wining-text-container h1 {
    font-family: "openSenBold";
    font-size: 3rem;
}

.wining-text-container p {
    font-family: "openSenRegular";
    font-size: 1.1rem;
}

.winning-img-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

.mobile-img {
    width: 20rem;
}

.download-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "openSenRegular";
}

.download-button-container button {
    background: #2196F3;
    font-family: 'openSenBold';
    border-radius: 20px;
    color: #fff;
    border: none;
    height: 2rem;
    width: 7rem;
    transition: 0.2s
}

.download-button-container button:hover {
    box-shadow: 0px 0px 15px 1px #535353;
    transition: 0.2s;
}

@media screen and (max-width: 500px) {
    .winning-container {
        height: 100%;
        padding-top: 4rem;
    }

    .wining-text-container {
        width: 80%;
    }

    .wining-text-container h1 {
        font-size: 2rem;
    }

    .mobile-img {
        width: 10rem;
    }

    .winning-img-container {
        width: 90%;
        justify-content: space-around;
    }

    .download-button-container {
        text-align: center;
    }
}